@use 'vuetify/settings' with (
  // Reference vuetify/lib/settings
  $utilities: false,
  $color-pack: false,
  $font-size-root: 14px,
  $application-color: rgb(var(--v-theme-on-background)),
  $application-background: #FFFFFF,
  $app-bar-background: #FFFFFF,
  $app-bar-color: rgb(var(--v-theme-text)),
  $button-background: rgb(var(--v-theme-primary)),
  $button-color: rgb(var(--v-theme-on-primary)),
  $button-disabled-opacity: 1,
  $button-elevation: ('default': 0, 'hover': 2, 'active': 4),
  $button-font-weight: 700,
  $button-plain-opacity: 1,
  $button-text-transform: 'none',
  $chip-font-size: 12px,
  $chip-font-weight: 700,
  $chip-padding-ratio: 1.4,
  $input-font-size: 0.875rem,
  $list-color: rgb(var(--v-theme-text)),
  $navigation-drawer-background: #FFFFFF,
  $pagination-item-margin: 9px,
  $table-background: transparent,
  $table-color: rgb(var(--v-theme-text)),
  $table-header-font-weight: 700,
  $table-row-height: 56px,
);
